{% extends 'base.html' %}

{% block title %}
    Account
{% endblock title %}


{% block content %}
<main>
    <h1>Account</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for property in accounts %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>{{ property.number }}</td>
                    <td>{{ property.accounts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
