{% extends 'base.html' %}

{% block title %}
    Expense Category
{% endblock title %}


{% block content %}
<main>
    <h1>Expense Category</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for category in expense %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
