{% extends 'base.html' %}

{% block title %}
    My List
{% endblock title %}


{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </thead>
        <tbody>
            {% for values in receipt_list %}
                <tr>
                    <td>{{ values.vendor }}</td>
                    <td>{{ values.total }}</td>
                    <td>{{ values.tax }}</td>
                    <td>{{ values.date|date:"n/d/y" }}</td>
                    <td>{{ values.category }}</td>
                    <td>{{ values.account }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
